%h1 Listing ideas

%ul.small-block-grid-2.large-block-grid-4
  - @ideas.each do |idea|
    %li= render partial: 'idea', object: idea,
                locals: { show_links: true }

= link_to 'New Idea', new_idea_path
