:ruby
  idea ||= @idea
  comment ||= idea.comments.new

= simple_form_for [idea, comment] do |f|
  .row
    = f.hidden_field :author_id, value: current_user.try(:id)
    .inputs.large-9.columns
      = f.input :text, as: :text, label: false
    .actions.large-3.columns
      = f.submit class: 'button expand'
