.row
  .large-8.small-centered.columns
    %form
      %h3 So what do you want to do to make your city better?

      %textarea(rows=6 style="height:auto")

      %button.button.expand(type="submit") Okay then, let's get started!
